<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="upper1H" value="37"/>
      <add key="upper1S" value="255"/>
      <add key="upper1V" value="255"/>
      <add key="lower1H" value="15"/>
      <add key="lower1S" value="0"/>
      <add key="lower1V" value="220"/>
      <add key="upper2H" value="200"/>
      <add key="upper2S" value="200"/>
      <add key="upper2V" value="200"/>
      <add key="lower2H" value="100"/>
      <add key="lower2S" value="100"/>
      <add key="lower2V" value="100"/>
    </appSettings>
</configuration>