<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBMControllerApp_TK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
    </appSettings>
    <userSettings>
        <DBMControllerApp_TK.Properties.Settings>
            <setting name="upper1H" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="upper1S" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="upper1V" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="lower1H" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="lower1S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lower1V" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="upper2H" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="upper2S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="upper2V" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="lower2H" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="lower2S" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lower2V" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="Cam1FPS" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Cam2FPS" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Yaw" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pitch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Roll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cam1_Point1" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Cam1_Point2" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Cam1_Point3" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Cam2_Point1" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Cam2_Point2" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Cam2_Point3" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </DBMControllerApp_TK.Properties.Settings>
    </userSettings>
</configuration>